div.col-sm-12
         div.col-sm-12.card
                       div.col-sm-2.bed
                         h3 B-207                    
                       div.col-sm-10(style="background:#FFFFFF")
                         div.col-sm-6.cardname
                           h4.glyphicon.glyphicon-user Vishnu
                         div.col-sm-6.cardname
                           h4 Next Infusion 3mts
                         div.col-sm-12.medicines
                           div.col-sm-3
                             p
                               span Medicine Name
                           div.col-sm-9.schhold
                             div.col-sm-1
                             div.col-sm-1
                             div.col-sm-1
                             div.col-sm-1.cnt 03:00
                             div.col-sm-1
                             div.col-sm-1
                             div.col-sm-1
                             div.col-sm-1
                             div.col-sm-1.cnt 06:00
                             div.col-sm-1
                             div.col-sm-1
                             div.col-sm-1.cnt 10:00
                         div.col-sm-12.medicines(style="background:#DDDDDD")
                           div.col-sm-3
                             p Medicine Name
                           div.col-sm-9.schhold
                             div.col-sm-1
                             div.col-sm-1.cnt 03:00
                             div.col-sm-1
                             div.col-sm-1
                             div.col-sm-1.cnt 06:00
                             div.col-sm-1
                             div.col-sm-1
                             div.col-sm-1.cnt 10:00
                             div.col-sm-1
                             div.col-sm-1
                             div.col-sm-1
                             div.col-sm-1
                         div.col-sm-12.medicines
                           div.col-sm-3
                             p Medicine Name
                           div.col-sm-9.schhold
                             div.col-sm-1
                             div.col-sm-1
                             div.col-sm-1
                             div.col-sm-1.cnt 03:00
                             div.col-sm-1
                             div.col-sm-1
                             div.col-sm-1
                             div.col-sm-1
                             div.col-sm-1.cnt 06:00
                             div.col-sm-1
                             div.col-sm-1
                             div.col-sm-1.cnt 10:00
